%div{ class: 'row' }
  %h3{ class: 'text-center' }
    Articles
%div{ class: 'row' }
  %div{ class: 'col-md-2 pull-right' }
    = link_to 'Go to Feeds', feeds_path, class: 'btn-sm btn-primary'
%table{ class: 'table' }
  %thead
    %tr
      %th
        Title
  %tbody
    - @articles.each do |article|
      %tr
        %td
          = link_to article.title, article.link, target: :_blank
